<div class="hero-unit">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="active item">
				<div>
					<h1>Hello, This is Sekitan!!</h1>
					<p>
						Ruby on Rails.
						TwitterBootstrap.
					</p>
				</div>
				<a class="btn btn-primary" href="#">more... »</a>
			</div>
			<div class="item">
				<%= image_tag 'sekitan1.jpg', :size => "480x1024"  %>
			</div>
			<div class="item">
				<%= image_tag 'sekitan2.jpg', :size => "480x1024" %>
			</div>
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>

</div>
<div class="row-fluid">
	<div class="span4">
		<div>
			<h2>Heading</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                  ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                  sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                  odio dui.
			</p>
		</div>
		<a class="btn" href="#">View details »</a>
	</div>
	<div class="span4">
		<div>
			<h2>Heading</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                  ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                  sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                  odio dui.
			</p>
		</div>
		<a class="btn" href="#">View details »</a>
	</div>
	<div class="span4">
		<div>
			<h2>Heading</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                  ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                  sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                  odio dui.
			</p>
		</div>
		<a class="btn" href="#">View details »</a>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<div>
			<h2>Heading</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                  ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                  sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                  odio dui.
			</p>
		</div>
		<a class="btn" href="#">View details »</a>
	</div>
	<div class="span4">
		<div>
			<h2>Heading</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                  ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                  sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                  odio dui.
			</p>
		</div>
		<a class="btn" href="#">View details »</a>
	</div>
	<div class="span4">
		<div>
			<h2>Heading</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                  ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                  sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                  odio dui.
			</p>
		</div>
		<a class="btn" href="#">View details »</a>
	</div>
</div>