<h1>Htmltest#index</h1>
<p>Find me in app/views/htmltest/index.html.erb</p>

<iframe width="560" height="315" src="http://www.youtube.com/embed/nkcEnfr3glI" frameborder="0" allowfullscreen></iframe>

<video src="http://www.youtube.com/embed/nkcEnfr3glI" width="640opx" height="380px" autoplay/>