<h3>車種名</h3>

<p>
  <b>Maker:</b>
  <%= @car_name.maker.name %>
</p>

<p>
  <b>Name:</b>
  <%= @car_name.name %>
</p>

<div class="form-actions">
	<%= link_to 'Edit', edit_car_name_path(@car_name), :class => 'btn' %>
	<%= link_to 'Back', car_names_path, :class => 'btn' %>
</div>